html
{
    overflow-x: hidden;
}
.navbar-nav{
    /* font-family: Arial; */
    font-size: 20px;
}

.nav-link{
    color: white;
}

.svnit_photo {
   /* height:100px; */
   width:150px;
   height: auto;
   margin-left: 10px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.v1 {
    height: 70px;
    border-left: 1px solid white;
    position: relative;
    top : 0;
    margin-left: 0%;
}
.v2 {
    height: 70px;
    border-left: 1px solid black;
    position: relative;
    top : 0;
    margin-left: 0%;
}

.nit_photo{
    width:80px;
    height: auto;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body
{
    font-family: 'PlusJakartaSans', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}









.main-div{
    width: 100%;
    height: 100vh;
    background-image: url(images/Heat\ PIpe.PNG);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    box-shadow: 0px -10vw 70vw 8vw rgb(0 0 0) inset, 0px 5vw 7vw 1vw rgb(0 0 0) inset;
}

.ref-image{
    display: flex;
    justify-content: center;
}

.ref-image .ref-title{
    bottom: 0;
    position: absolute;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 30px black;
}

.ref-image .ref-title h3{
    font-weight: bold;
    letter-spacing: 0.7vw;
    font-size: 3vw;
    padding-bottom: 4vw;
}

.ref-image .ref-title h1{
    font-weight: bolder;
    letter-spacing: 0.5vw;
    font-size: 5vw;
    padding-bottom: 0;
}

.ref-aim{
    text-align: center;
    padding: 3vw 10%;
}

.ref-aim h1{
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 25px;
    letter-spacing: 0.2em;
}

.ref-aim p{
    font-size: 22px;
    text-align: justify;
}

































.h {
    text-align: center;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a{
    color: blanchedalmond;
}

a:hover {
    color: cadetblue;
}

.txt {
    font-size: 25px;
}

.txt1 {
    font-size: 22px;
}

.heat1 {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 100%;
    height: 80%;
    margin-top: 5%;
    margin-left: 5%;
}

.heat2 {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 100%;
}

.heat3 {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 100%;
    /* height: 80%; */
    margin-top: 10%;
    margin-left: 5%;
}
.cont {
    margin-bottom: 2%;
}

.rounded-icons {
    text-align: center;
    margin: 50px;
}

 .social-button {

   display: inline-block;
   position: relative !important;
   cursor: pointer !important;
   width: 3.125rem !important;
   height: 3.125rem !important;
   border: 0.125rem solid transparent;
   padding: 0;
   text-decoration: none;
   text-align: center;
   color: #fefefe;
   font-size: 1.5625rem;
   font-weight: normal;
   line-height: 2em;
   border-radius: 1.6875rem;
   transition: all 0.5s ease;
   margin-right: 0.25rem;
   margin-bottom: 0.25rem;

}

.rounded-icons .social-button:hover, .rounded-icons .social-button:focus {
   -webkit-transform: rotate(360deg);
       -ms-transform: rotate(360deg);
           transform: rotate(360deg);
 }

 .social-button.rpi {
    background: black;
    
 }

 .social-button.ros {
    background : lightblue;
    
 }

 .social-button.arduino {
     background : #009688;
     
 }

 .social-button.location {

    background :black
 
 }
@media(max-width : 1500px)
{
    .heat1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 100%;
        height: 200px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .heat2 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 100%;
        height: 65%;
    }
    .heat3 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        margin-top: 15%;
        margin-bottom: 5%;
        width: 100%;
        /* height: 70%; */
    }
}
@media(max-width : 960px)
{
    .heat1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .heat2 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        /* width: 100%;
        height: 80%; */
    }
    .heat3 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        margin-top: 5%;
        margin-bottom: 5%;
        height: 70%;
    }
}

@media(max-width : 600.98px)
{
    .h {
        font-size: 40px;
    }

    .txt1 {
        font-size : 20px;
    }

    .heat1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .heat2 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        /* width: 80%; */
    }
    .heat3 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

